.favourites {
  list-style: none;
  padding: 0;
}

.favourites__item {
  cursor: pointer;
  margin: 0.25rem 0;
  padding: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
}

.favourites__item:hover {
  background-color: hsl(221, 100%, 95%);
}

.favourites__item--selected {
  background-color: hsl(221, 100%, 90%);
}
